*
    box-sizing: border-box
    margin: 0
    padding: 0

.container
    // display: flex
    margin: auto
    background-color: #221B3A
    max-width: 1440px
    max-height: 768px
    width: 100vw
    height: 100vh
    position: absolute
    overflow: hidden
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
