.rocket_container
    max-height: 444px
    max-width: 375px
    display: flex
    width: 100%
    height: 100%
    flex-direction: column

.rocket
    position: absolute
    left: 67.01%
    right: 25.9%
    top: 11.98%
    bottom: 69.79%
    z-index: 3

    .capsule
        position: relative
        z-index: 2
        margin: auto

    .landing
        position: relative
        // margin: auto
        bottom: 15%
        left: 1%
        z-index: 1

    .smoke
        position: relative
        // margin: auto
        bottom: 54%
        left: 59%
        z-index: 1

    .smoke_two
        position: relative
        // margin: auto
        bottom: 100%
        left: -66%
        z-index: 1

.planet
    position: absolute
    left: 57.64%
    right: 16.32%
    top: 21.35%
    bottom: 30.21%

// .main_anim
//     height: 100%
